/* Buttons */
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;

  font-size: 16px;
  line-height: 1;
  font-weight: 600;

  border: none;
  border-radius: 100px;

  transition-property: color, background-color;
  transition-timing-function: ease;
  transition-duration: 300ms;

  cursor: pointer;

  &.accent {
    padding: 16px 48px;
    color: #fff;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0) 100%),
      #4080ff;
    background-repeat: no-repeat;
    animation: button-accent 3s linear infinite;

    &:hover {
      background: linear-gradient(
          90deg,
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 0.3) 50%,
          rgba(255, 255, 255, 0) 100%
        ),
        #5991ff;
      background-repeat: no-repeat;
    }

    &:active {
      background: linear-gradient(
          90deg,
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 0.3) 50%,
          rgba(255, 255, 255, 0) 100%
        ),
        #266fff;
      background-repeat: no-repeat;
    }

    &.hero {
      margin-right: 30px;
    }
  }

  &.transperent {
    padding: 16px 48px;
    background-color: rgba(107, 138, 153, 0.15);

    &:hover {
      background-color: rgba(107, 138, 153, 0.25);
    }

    &:active {
      background-color: rgba(107, 138, 153, 0.35);
    }
  }

  &.outline {
    padding: 12px 32px;
    border: 1px solid var(--grey-50);

    &:hover {
      color: #fff;
      background-color: var(--body);
    }

    &:active {
      background-color: var(--main);
    }
  }

  &.light {
    padding: 12px 28px;
    color: var(--accent);
    background-color: rgba(64, 128, 255, 0.1);

    &:hover {
      background-color: rgba(64, 128, 255, 0.13);
    }

    &:active {
      background-color: rgba(64, 128, 255, 0.17);
    }
  }
}

/* Typography */
.h1 {
  margin: 0;
  font-size: 64px;
  line-height: 1;
  font-weight: 700;
  color: #000;
}

.h2 {
  margin: 0;
  font-size: 48px;
  line-height: 1;
  font-weight: 700;
  color: var(--main);
}

.body {
  margin: 0;
  font-size: 16px;
  line-height: 1.4;

  color: var(--body);
}

/* Sections */
.container {
  z-index: 2;
  position: relative;
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 40px;
}

.header {
  margin-top: 40px;
  margin-bottom: 40px;

  .header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logoname {
      font-size: 24px;
      font-weight: 200;
      user-select: none;

      .logoname-bold {
        font-weight: 700;
      }
    }

    .nav-item {
      margin-left: 40px;
      font-size: 16px;
      line-height: 1;
      font-weight: 500;
      cursor: pointer;
      transition: color 300ms ease;

      &:hover {
        color: var(--accent);
      }

      &:active {
        color: var(--accent-dark);
      }
    }
  }
}

.section-hero {
  position: relative;

  &::before {
    content: '';

    z-index: 1;
    margin: 0 auto;
    max-width: 1500px;

    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
    left: 10px;

    background: linear-gradient(45deg, #9797d8 5%, #b6caf2 30%, #c2e6f2 70%, #d4cef2 95%);
    background-size: 300%;
    animation: section-hero 10s ease infinite;
    border-radius: 10px;
  }

  .hero-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    .left-side {
      margin: 48px 0;
      align-self: center;

      .hero-heading {
        max-width: 600px;
      }

      .description {
        max-width: 600px;
        margin-top: 24px;
        font-size: 24px;
        line-height: 1;

        color: #000;
      }

      .benefits {
        display: flex;
        margin: 48px 0;

        .item {
          display: flex;
          align-items: center;
          max-width: 200px;

          .icon {
            margin-right: 8px;
          }
        }

        .item:not(:last-child) {
          margin-right: 40px;
        }
      }

      .buttons {
        display: flex;
      }
    }

    .phone {
      flex: none;
      width: 356px;
      height: 565px;
      margin-top: 75px;
      margin-left: 32px;
      overflow: hidden;
      user-select: none;

      .popup {
        margin: 0 20px;
        padding: 20px 24px;

        border-radius: 20px 20px 0 0;
        background-color: #fff;
        box-shadow: 0px -16px 24px rgba(0, 0, 0, 0.06), 0px -2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);

        transform: translateY(-64px);
        transition: transform 500ms ease-in-out;

        .heading {
          font-size: 24px;
          line-height: 140%;
          font-weight: 600;
        }

        .text {
          margin-top: 8px;
          font-size: 13px;
          line-height: 120%;
        }

        .point {
          display: flex;
          align-items: center;
          margin-top: 24px;
        }

        .icon-text {
          margin-left: 12px;
          font-size: 14px;
        }

        .phone-button {
          display: flex;
          justify-content: center;
          margin-top: 24px;
          padding: 14px 48px;

          font-size: 16px;
          font-weight: 600;

          color: #fff;
          background-color: var(--accent);
          border-radius: 50px;
        }
      }

      &:hover {
        .popup {
          transform: translateY(-342px);
        }
      }
    }
  }
}

.customer-cases {
  display: flex;
  align-items: center;

  .cases-list {
    display: flex;
    flex-direction: column;
    height: fit-content;
    overflow: hidden;
    flex: none;

    background-color: #f2f4f7;

    border-radius: 10px 0px 0px 10px;

    .cases-item {
      display: flex;
      align-items: center;
      align-self: stretch;
      padding: 40px;
      cursor: pointer;

      .customer-icon-small {
        width: 32px;
        height: 32px;
      }

      .customer-name-small {
        width: max-content;
        max-width: 150px;
        margin-left: 16px;
        font-size: 21px;
        line-height: 1;
        color: var(--main);
      }

      &:not(:last-child) {
        border-bottom: 1px solid #cfdee5;
      }

      &.active {
        background-color: #e6e9f0;
      }
    }

    .divider {
      height: 1px;
      background-color: #cfdee5;
    }
  }

  .case-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    position: relative;
    min-height: 420px;

    background-color: #ffffff;
    box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04);
    border-radius: 10px;

    .case-content-qoute {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-self: stretch;
      padding: 48px;

      .customer-icon-big {
        width: 48px;
        height: 48px;
      }

      .agent-name {
        font-size: 18px;
        line-height: 1.6;
        font-weight: 600;
      }

      .agent-position {
        font-size: 16px;
        color: var(--grey-50);
      }
    }

    .metrics-list {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-self: stretch;
      border-left: 1px solid #cfdee5;

      .metrics-item {
        padding: 32px;

        .metrics-name {
          display: block;
          width: max-content;
          margin-top: 4px;
          font-size: 16px;
          color: var(--grey-50);
        }

        .metrics-data {
          font-size: 42px;
          font-weight: 600;
          color: var(--body);
        }

        .metrics-data-caption {
          font-size: 16px;
          color: var(--body);
        }
      }
    }
  }
}

.pricing-calc {
  display: flex;
  overflow: hidden;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04);

  .value-picker {
    flex: 1 0 50%;
    padding: 40px;
    background-color: #fff;

    .employees-number {
      display: flex;
      flex-direction: column;

      .range-picker {
        display: flex;
        flex-direction: column;
        position: relative;
        padding: 12px 24px;

        border-radius: 6px 6px 0px 0px;
        background-color: #ecf2ff;

        &:hover {
          background-color: #e5eeff;
        }

        .input-number {
          margin-top: 4px;

          background: none;
          border: none;

          font-size: 24px;
          font-weight: 600;
          color: var(--body);

          &:focus-visible {
            outline: none;
          }
        }

        .input-progress {
          appearance: none;
          position: absolute;
          height: 4px;
          width: 100%;
          right: 0;
          bottom: -2px;
          left: 0;

          &::-webkit-progress-bar {
            background-color: #ced5d9;
          }

          &::-webkit-progress-value {
            background-color: var(--accent);
          }

          &::-moz-progress-bar {
            background-color: var(--accent);
          }
        }

        .input-range {
          position: absolute;
          width: 100%;
          right: 0px;
          bottom: -8px;
          left: 0px;

          appearance: none;
          background: none;
        }
      }

      .range-caption {
        font-size: 13px;
        color: var(--grey-50);
      }
    }

    .service-life {
      margin-top: 32px;

      .service-life-picker {
        display: flex;
        justify-content: space-between;
      }

      .radio-label {
        margin-top: 10px;

        &:not(:last-child) {
          margin-right: 8px;
        }
      }

      .input-radio {
        display: none;
      }

      .radio-text {
        display: flex;
        align-items: center;
        width: max-content;
        padding: 8px 28px;

        font-size: 16px;
        color: var(--body);

        background-color: #ecf2ff;
        border-radius: 40px;

        cursor: pointer;

        &:hover {
          background-color: #e5eeff;
        }
      }

      .input-radio:checked ~ .radio-text {
        color: #fff;
        background-color: var(--accent);
      }
    }

    .api-integration {
      display: flex;
      align-items: center;
      margin-top: 32px;

      #api-checkbox {
        width: 18px;
        height: 18px;
        margin-right: 8px;
      }

      .api-learn {
        align-self: end;
        margin-left: 24px;
        font-size: 14px;
        color: var(--grey-50);
        border-bottom: 1px dashed var(--grey-50);
        cursor: pointer;
      }
    }
  }

  .our-offer {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px;
    background-color: #f5f7fa;

    .offer-heading {
      margin: 8px 0;
      font-size: 24px;
      line-height: 100%;
      font-weight: 700;
    }

    .offer-value {
      max-width: 450px;
      font-size: 48px;
      line-height: 100%;
      font-weight: 800;
    }

    .offer-caption {
      margin-top: 4px;
      font-size: 16px;
      color: var(--grey-50);
    }

    .offer-text {
      margin: 16px 0;
    }
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 128px;
  padding: 32px 0;
  border-top: 1px solid #dae2e5;

  .links-list {
    display: flex;

    .links-item {
      display: flex;
      align-items: center;
      cursor: pointer;
      opacity: 0.85;

      &:hover {
        opacity: 0.7;
      }

      &:active {
        opacity: 1;
      }

      &:not(:last-child) {
        margin-right: 48px;
      }

      .links-caption {
        margin-left: 8px;
        font-size: 16px;
        color: var(--grey-50);
      }
    }
  }

  .copyright {
    font-size: 16px;
    color: var(--grey-50);
  }
}

.section {
  margin-top: 256px;
}

.two-col-left {
  display: flex;
  align-items: center;

  .description {
    margin-left: 64px;
    max-width: 456px;
  }
}

.two-col-right {
  display: flex;
  align-items: center;

  .description {
    flex: 1 1 50%;
    margin-right: 64px;
    max-width: 456px;
  }
}

.video-wrapper {
  flex: 2 0 50%;
  max-width: 650px;

  .video {
    width: 100%;
    height: 100%;
  }
}

.horizontal-divider {
  height: 1px;
  width: 100%;
  background-color: #cfdee5;
}

/* Animation */
@keyframes section-hero {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes button-accent {
  0% {
    background-position: -500px 0;
  }

  100% {
    background-position: 500px 0;
  }
}

.animation-fade::after {
  content: '';

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  opacity: 0;
  border-radius: 10px;
  background-color: #fff;

  transition: opacity 150ms ease-in;
}

.now.animation-fade::after {
  opacity: 1;
}

@media (max-width: 1080px) {
  .h1 {
    font-size: 48px;
  }

  .h2 {
    font-size: 32px;
  }

  .section-hero {
    .hero-content {
      .left-side {
        .description {
          margin-top: 24px;
          font-size: 20px;
        }

        .benefits {
          flex-direction: column;
          margin: 32px 0;

          .item:not(:last-child) {
            margin-bottom: 12px;
          }
        }
      }
    }
  }

  .customer-cases {
    .cases-list {
      .cases-item {
        .customer-name-small {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 960px) {
  .section-hero {
    .hero-content {
      .left-side {
        .buttons {
          flex-direction: column;
          width: max-content;

          .button {
            width: unset;
            align-self: stretch;

            &.accent {
              &.hero {
                margin-right: 0;
                margin-bottom: 16px;
              }
            }
          }
        }
      }
    }
  }

  .section {
    margin-top: 155px;
  }

  .customer-cases {
    .case-content {
      min-height: 530px;
    }
  }

  .pricing-calc {
    .value-picker {
      .service-life {
        .service-life-picker {
          flex-wrap: wrap;
          justify-content: flex-start;

          .radio-label {
            flex: 1 1 45%;
            margin-top: 10px;
            margin-right: 0;

            &:nth-child(odd) {
              margin-right: 10px;
            }

            .radio-text {
              display: flex;
              align-items: center;
              justify-content: center;
              width: unset;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 740px) {
  .header {
    .header-content {
      .logoname {
        display: none;
      }
    }
    .button {
      &.outline {
        display: none;
      }
    }
  }
  .section-hero {
    .hero-content {
      flex-direction: column;
      align-items: center;

      .left-side {
        .buttons {
          flex-direction: row;
          .button {
            &.accent {
              &.hero {
                margin-right: 24px;
                margin-bottom: 0px;
              }
            }
          }
        }
      }

      .phone {
        margin-top: 16px;
        margin-left: 0;
      }
    }
  }

  .section {
    margin-top: 128px;
  }

  .two-col-left {
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    .description {
      margin-left: 0px;
      max-width: 456px;
    }
  }

  .two-col-right {
    display: flex;
    align-items: flex-start;
    flex-direction: column-reverse;

    .description {
      margin-right: 0px;
      max-width: 456px;
    }
  }

  .customer-cases {
    flex-direction: column;

    .cases-list {
      margin: 0 16px;
      justify-content: space-between;
      align-self: stretch;
      flex-direction: row;
      border-radius: 10px 10px 0px 0px;

      .cases-item {
        border-bottom: none !important;
        align-items: center;
        justify-content: center;
        flex: 1 1 33%;
        padding: 24px 16px;

        &:not(:last-child) {
          border-right: 1px solid #cfdee5;
        }
      }
    }

    .case-content {
      flex-direction: column;
      min-height: 490px;

      // .metrics-list {
      //   flex-direction: row;
      //   border-left: none;
      //   border-top: 1px solid #cfdee5;

      //   .metrics-item {
      //     padding: 24px;
      //   }

      //   .horizontal-divider {
      //     align-self: stretch;
      //     height: unset;
      //     width: 1px;
      //     background-color: #cfdee5;
      //   }
      // }

      .metrics-list {
        display: none;
      }
    }
  }

  .pricing-calc {
    flex-direction: column;
  }

  .footer {
    .links-list {
      .links-item {
        margin-right: 24px !important;

        .links-caption {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .h1 {
    font-size: 36px;
  }

  .header {
    margin: 16px 0;
    .header-content {
      .hide {
        display: none;
      }

      .nav-item {
        margin-left: 24px;
      }
    }
  }
  .section-hero {
    &::before {
      left: 8;
      right: 8;
    }

    .hero-content {
      padding: 0 16px;
      .left-side {
        .description {
          font-size: 18px;
        }
        .buttons {
          flex-direction: column;
          width: 100%;

          .button {
            width: unset;
            align-self: stretch;

            &.accent {
              &.hero {
                margin-right: 0;
                margin-bottom: 16px;
              }
            }
          }
        }
      }

      .phone {
        display: none;
      }
    }
  }

  .container {
    padding: 0 16px;
  }

  .customer-cases {
    .case-content {
      min-height: 550px;
      .case-content-qoute {
        padding: 48px 24px;
      }
    }
  }

  .pricing-calc {
    .our-offer {
      padding: 24px;
    }

    .value-picker {
      padding: 24px;

      .service-life {
        .service-life-picker {
          .radio-label {
            .radio-text {
              padding: 16px 16px;
            }
          }
        }
      }
    }
  }
}
